@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #232323;
  border-radius: 4px;
  padding-left: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #646363;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  font-family: var(--font-titillium);
}

h1 {
  font-size: 48px;
  font-family: var(--font-spacemono);
  line-height: 48px;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 24px;
  font-family: var(--font-spacemono);
  line-height: 24px;
}

h3 {
  font-size: 20px;
  font-family: var(--font-spacemono);
  line-height: 20px;
  font-weight: 700;
}

h4 {
  font-size: 14px;
  font-family: var(--font-spacemono);
  line-height: 18px;
  font-weight: 700;
}

h5 {
  font-size: 12px;
  font-family: var(--font-titillium);
  font-weight: 700;
  line-height: 16px;
}

h6 {
  font-size: 11px;
  font-family: var(--font-titillium);
  font-weight: 400;
  line-height: 11px;
}

p {
  font-size: 11px;
  font-family: var(--font-titillium);
  line-height: 16px;
  font-weight: 200;
  color: #a4a4a4;
}

.primary_button {
  font-family: var(--font-titillium);
  font-weight: 600;
}

@media (min-width: 640px) {
  h1 {
    font-size: 48px;
    line-height: 50px;
  }

  p {
    font-size: 13px;
    line-height: 16px;
  }

  h5 {
    font-size: 16px;
    line-height: 16px;
  }

  h6 {
    font-size: 14px;
    font-family: var(--font-titillium);
    font-weight: 400;
    line-height: 11px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 52px;
    line-height: 64px;
  }

  h2 {
    font-size: 32px;
    line-height: 32px;
  }

  h3 {
    font-size: 24px;
    line-height: 24px;
  }

  h4 {
    font-size: 18px;
    line-height: 20px;
  }

  h5 {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 64px;
    line-height: 72px;
  }

  h3 {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 80px;
    line-height: 88px;
  }
}

@media (min-width: 1536px) {
  h1 {
    font-size: 80px;
    line-height: 80px;
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
  }

  h3 {
    font-size: 20px;
    line-height: 20px;
  }

  h4 {
    font-size: 18px;
    line-height: 18px;
  }

  h5 {
    font-size: 16px;
    line-height: 16px;
  }

  h6 {
    font-size: 14px;
    line-height: 14px;
  }

  p {
    font-size: 12px;
    line-height: 14px;
  }
}